# Compiled Object files
*.slo
*.lo
*.o
*.pd_linux

# Compiled Executable (Windows)
*.exe

# editors temporary files
*.swp
*~
\#

# build directory (build, builds, Build, Builds, ...)
[bB]uild*
bin

# netbeans projects garbage
nbproject
nbbuild

#OSX specific garbage
.DS_Store
*.perspectivev3

# merge tools garbage
*.orig

# data folder at root
data
examples/of_0071_osx_release/apps/enterface12/mage2.00/inouts/labels/*
examples/of_0071_osx_release/apps/enterface12/mage2.00/mage2.00.xcodeproj/Maipn.*
examples/of_0071_osx_release/apps/enterface12/mage2.00/inouts/voices/*
examples/of_0071_osx_release/apps/enterface12/mage2.00/inouts/output/*
