# Compiled Object files
*.slo
*.lo
*.o
*.pd_linux

# Compiled Executable (Windows)
*.exe

# editors temporary files
*.swp
*~
\#

# build directory (build, builds, Build, Builds, ...)
[bB]uild*
bin

# netbeans projects garbage
nbproject
nbbuild

#OSX specific garbage
.DS_Store
*.perspectivev3

# merge tools garbage
*.orig

# data folder at root
data
examples/of_0071_osx_release/apps/enterface12/mage2.00/inouts/labels/*
examples/of_0071_osx_release/apps/enterface12/mage2.00/mage2.00.xcodeproj/Maipn.*
examples/of_0071_osx_release/apps/enterface12/mage2.00/inouts/voices/*
examples/of_0071_osx_release/apps/enterface12/mage2.00/inouts/output/*
magelib-2.00/pd/pd_xcodeProject/inouts/awb.conf
magelib-2.00/pd/pd_xcodeProject/inouts/bdl.conf
magelib-2.00/pd/pd_xcodeProject/inouts/clb.conf
magelib-2.00/pd/pd_xcodeProject/inouts/jmk.conf
magelib-2.00/pd/pd_xcodeProject/inouts/labels/FrancoisZajega.lab
magelib-2.00/pd/pd_xcodeProject/inouts/labels/alice01.lab
magelib-2.00/pd/pd_xcodeProject/inouts/labels/alice02.lab
magelib-2.00/pd/pd_xcodeProject/inouts/labels/alice03.lab
magelib-2.00/pd/pd_xcodeProject/inouts/labels/alice04.lab
magelib-2.00/pd/pd_xcodeProject/inouts/labels/alice05.lab
magelib-2.00/pd/pd_xcodeProject/inouts/labels/fz.lab
magelib-2.00/pd/pd_xcodeProject/inouts/output/output.wav
magelib-2.00/pd/pd_xcodeProject/inouts/rms.conf
magelib-2.00/pd/pd_xcodeProject/inouts/slt.conf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/dur.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/gv-lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/gv-mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/gv-switch.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/lf0.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/lf0.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/lf0.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/lpf.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/lpf.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/mgc.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/mgc.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/mgc.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/tree-dur.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/tree-gv-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/tree-gv-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/tree-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/tree-lpf.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/awb/tree-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/dur.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/gv-lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/gv-mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/gv-switch.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/lf0.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/lf0.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/lf0.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/lpf.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/lpf.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/mgc.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/mgc.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/mgc.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/tree-dur.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/tree-gv-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/tree-gv-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/tree-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/tree-lpf.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/bdl/tree-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/dur.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/gv-lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/gv-mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/gv-switch.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/lf0.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/lf0.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/lf0.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/lpf.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/lpf.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/mgc.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/mgc.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/mgc.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/tree-dur.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/tree-gv-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/tree-gv-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/tree-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/tree-lpf.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/clb/tree-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/dur.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/gv-lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/gv-mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/gv-switch.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/lf0.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/lf0.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/lf0.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/lpf.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/lpf.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/mgc.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/mgc.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/mgc.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/tree-dur.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/tree-gv-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/tree-gv-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/tree-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/tree-lpf.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/jmk/tree-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/dur.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/gv-lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/gv-mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/gv-switch.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/lf0.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/lf0.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/lf0.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/lpf.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/lpf.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/mgc.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/mgc.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/mgc.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/tree-dur.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/tree-gv-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/tree-gv-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/tree-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/tree-lpf.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/rms/tree-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/dur.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/gv-lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/gv-mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/gv-switch.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/lf0.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/lf0.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/lf0.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/lf0.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/lpf.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/lpf.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/mgc.pdf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/mgc.win1
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/mgc.win2
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/mgc.win3
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/tree-dur.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/tree-gv-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/tree-gv-mgc.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/tree-lf0.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/tree-lpf.inf
magelib-2.00/pd/pd_xcodeProject/inouts/voices/slt/tree-mgc.inf
magelib-2.00/pd/pd_xcodeProject/magePd_2.00.xcodeproj/Maipn.mode1v3
magelib-2.00/pd/pd_xcodeProject/magePd_2.00.xcodeproj/Maipn.pbxuser
magelib-2.00/pd/pd_xcodeProject/magePd_2.00.xcodeproj/project.pbxproj
magelib-2.00/pd/pd_xcodeProject/mage~.pd_darwin
magelib-2.00/pd/pd_xcodeProject/test.pd
